#root {
    background-image: url(/public/background.jpg) !important;
    background-size: cover;
    background-color: rgba(250, 250, 250, 0.9);
    background-blend-mode: lighten;
}

#message-composer {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#theme-toggle {
    display: none;
}

#step-candidate_generation_and_ranking,
#step-enrich_restaurant_recommendations {
    color: #00af87;
}

#step-candidate_generation_and_ranking::before,
#step-enrich_restaurant_recommendations::before {
    color: #ff9800;
    margin-right: 0.25em;
}

#step-candidate_generation_and_ranking::before {
    content: "🔍 STEP: ";
}

#step-enrich_restaurant_recommendations::before {
    content: "💡 STEP: ";
}